
<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    <div class="main">
      <main class="main-content">
        <div class="px-3 my-5 markdown-body">
          {% if site.title and site.title != page.title %}
          <h1><a href="{{ "/" | absolute_url }}">{{ site.title }}</a></h1>
          {% endif %}

          <!--
            @todo #2 Add a link to "Jump to navigation".
             On mobile, this link should display so that user can click to go to navigation section.
             On desktop, this link should be hidden but focusable. It should reveal itself when focused.
             This allows keyboard users to use this site easily.
          -->

          <article>
            {{ content }}
          </article>

          {% if site.github.private != true %}
          <div class="footer border-top border-gray-light mt-5 pt-3 text-right text-gray">
            {% github_edit_link "Edit this page" %}.
          </div>
          {% endif %}
        </div>
      </main>
      <div class="main-nav">
        <nav id="#nav">
          <h2 class="bg-gray-light border-bottom f4 text-bold text-center py-2 px-3">Navigation</h2>
          <ul class="py-1">
            {% for item in site.data.nav %}
              <li><a class="d-block py-1 px-3{% if item.url == page.url %} text-bold text-gray-dark{% endif %}" href="{{ item.url }}" title="{{ item.title }}">{{ item.title }}</a></li>
            {% endfor %}
           </ul>
        </nav>
      </div>
    </div>
    <script src="{{ "assets/javascript/anchor-js/anchor.min.js" | relative_url }}"></script>
    <script>anchors.add('main h2, main h3, main h4, main h5, main h6');</script>
    <script src="https://unpkg.com/mermaid@7.1.2/dist/mermaid.min.js"></script>
    <script>
      function mermaidify (el) {
        if (el.parentNode.nodeName !== 'PRE') return
        var div = document.createElement('div')
        div.textContent = el.textContent
        div.className = 'mermaid'
        el.parentNode.parentNode.replaceChild(div, el.parentNode)
      }
      var els = document.querySelectorAll('.language-mermaid')
      for (var i = 0; i < els.length; i++) {
        mermaidify(els[i])
      }
      mermaid.initialize({ startOnLoad: true })
    </script>
    {% if site.google_analytics %}
    <script type="text/javascript">
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', '{{ site.google_analytics }}', 'auto');
      ga('send', 'pageview');
    </script>
    {% endif %}
  </body>
</html>
